@use "../mixins/breakpoint";
@use "../mixins/helpers";
@use "variables" as *;

.home {
	padding: 65px 0;

.hero {
		  position: relative;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;

  &__content {
    margin-right: -110px;

    .hero__title {
    	font-family: $Directo;
      font-size: 46px;
      font-weight: 700;
      line-height: 55px;
      color: $heading;
    }

    .hero__description {
    	font-family: $Faber;
    	font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #8682a7;
      margin-bottom: 46px;
    }
  }
&__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;

    &-field {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      position: relative;


     .hero__icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.3s ease; 
        cursor: pointer;
        background: none;
        border: none;


        &--icon-p{
          width: 25px;
          height: 25px;
          margin-left: 15px;
        }


}

      .input-container {
        position: relative;
}
      .hero__input {
        width: 100%;
        padding: 0.75rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 0px; 
        outline: none;
        background: #e8e5fb;
        border: none;
        padding-left: 40px;
        width: 331px;


        &:focus {
          border-color: #007bff;
        }

        &::placeholder {
          color: #6d698c;
          padding-left: 28px;
          font-size: 18px;
        }
        &:not(:placeholder-shown) + .hero__icon{
           opacity: 0;
        }
       &:focus::placeholder {
            color: transparent;
    }
      &:focus {
            z-index: 1;
    }
      }

    }
  }
   &__button {
            background: #5b45ff;
            color: #fff;
            padding: 13px 38px 12px 47px;
            border: none;
             /* Задаем разные радиусы */
            border-top-left-radius: 15px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 0px; /* Можно оставить без закругления */

            /* Поворачиваем кнопку на -180 градусов */
            transform: rotate(-180deg);
            margin-left: -47px;
            z-index: 1;


            span{
                 display: inline-block;
                 transform: rotate(180deg);
            }
           

            &:hover {
              background: #ef584e;
              transition: none;
            }
    }
 

  &__image {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    right: -67px;

     .background {
		    position: absolute;
		    inset: 0;
		    background: url("../images/sprites/svg/background.svg") no-repeat;
		    z-index: -1;
        background-position-x: 25px;
        background-position-y: 38px;
  }

    .hero__img {
      max-width: 100%;
      height: auto;
    }
  }
}

// Блок features
.features {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;

    p{
      font-family: $Faber;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0%;
      color: #6d698c;

    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    margin-bottom: 10px;
    margin-right: 22px;
  }

  &__text {
    // Стили для текста
  }
}

.g-2 {
      text-align: center;



  &__title {
    font-family: $Directo;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: $heading;


  }



  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }




  &__left {
    position: relative;
    z-index: 3;
    display: flex;
    left: 108px;
  }

  &__images {
               width: 110%; // 
              position: relative;
            z-index: 4;
  
    
    &--bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;

          .g-2y {
                width: 491px;
                height: 453px;
                position: absolute;
                left: -108px;
                top: 75px;
                z-index: 1;
              }
        .g-2-g {
                width: 245px;
                height: 197px;
                position: absolute;
                right: 236px;
                top: 40px;
                z-index: 2;
              }

    }
    .g-2__img{
            position: relative;
            top: -62px;
            right: 211px;
            max-width: none;
  }
}

  &__info {
          margin-top: 20px;
          position: absolute;
          bottom: 133px;
          display: flex;
          gap: 20px;
          left: -51px;
          z-index: 5;

          p{
            font-family: $Faber;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0%;
            color: #6d698c;

          }
    
    &-block {
            width: 220px;
            background: white;
            padding: 26px 18px 19px 14px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 300px;
            text-align: left;
            font-size: 16px;
            color: #333;
            margin-bottom: 15px;
            p{

            }
        }
  }



  &__right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    text-align: left;
    left: -105px;
    position: relative;
  }

    &__description {
      font-family: $Faber;
      font-weight: 400;
      font-size: 20px;
      color: $heading;
      line-height: 30px;
      letter-spacing: 0%;
      margin-bottom: 40px;
  }

  &__text{
    display: flex;
    gap: 20px;
  }
  &__text-block {
      background: white;
      padding: 19px 12px 7px 26px;
      border-radius: 12px;
      width: 220px;
    p{
      font-family: $Faber;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      color: #6d698c;
    }
    
  }

  &__footer-text {
            margin-top: 40px;
            font-family: $Faber;
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: $heading;
            width: 524px;

  }
}




.g-3{
  display: flex;
  flex-direction: column;
  &__heading{
      text-align: center;
      margin-bottom: 30px;
    h1{
      font-family: $Directo;
      font-weight: 700;
      font-size: 36px;
      line-height: 50px;
      text-align: center;
      color: $heading;
    }
    p{
      font-family: $Faber;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #6d698c;

    }
  }
  &__image-text{
     display: flex;
     flex-direction: column;
     gap: 20px;
     .row{
       display: flex;
       justify-content: space-between;
       gap: 100px;
      .block {
        flex: 1;
        text-align: center;

        svg {
          max-width: 100%;
          height: auto;
          border-radius: 8px;
        }
        p {
          margin-top: 10px;
          font-size: 1rem;
        }
      }
      }
  }
.g-3__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;


    .left-block {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 61%;

      .column-text {
        h2.bold {
          font-family: $Directo;
          font-weight: 700;
          font-size: 36px;
          line-height: 50px;
          color: $heading;


        }
        p {
          font-family: Faber Sans Pro;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: $heading;


        }
      }

      .icon-text-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 26px;

        .icon-text {
          display: flex;
          align-items: center;
          gap: 37px;
          width: 286px;

          .icon {
            svg{
              width: 55px;
              height: 47px;

            }
          }
          .text {
            font-family: $Faber;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $heading;


          }
        }
      }
      p{
        font-family: $Faber;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $heading;

      }
    }

     .right-block {
      flex: 1;
      display: flex;
      gap: 15px;

      
      .image-block {
         min-width: 40%;
         flex-shrink: 0;
         right: 200px;
        position: relative;
        z-index: -2;
        top: -50px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
}
}/*.g-3*/






.g-4 {
      background: #7967ff;
      padding-top: 68px;
.hero-a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    margin-right: -110px;
  }

  &__title {
    font-family: $Directo;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #fff;
    span {
      color: #ffcf3c;
    }
  }

  &__description {
    font-family: $Faber;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 26px;

    &-field {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-group {
      display: flex;
      gap: 22px;
      align-items: center;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__label {
      font-family: $Faber;
      font-size: 14px;
      color: #fff;
    }

    &__input {
      width: 272px;
      height: 55px;
      padding-left: 40px;
      border: none;
      outline: none;
      background: #fff;
      border-radius: 15px 50px 15px 50px;
      font-size: 18px;
      color: #333;
      &::placeholder {
        color: #b7b4d3;
      }
    }
  }

  &__privacy {
    display: flex;
    align-items: center;
    gap: 14px;

    &-icon {
      svg {
        width: 8px;
        height: 8px;
      }
    }

    &-text {
      font-family: $Faber;
      font-size: 12px;
      color: #d5d0ff;
    }
  }

  &__button {
    background: #2dbc7c;
    color: #fff;
    padding: 13px 38px;
    border: none;
    border-radius: 15px 50px 15px 50px;
    height: 55px;
    width: 272px;
    cursor: pointer;
    span {
      display: inline-block;
    }
    &:hover {
      background: #ef584e;
    }
  }

  &__image {
    position: relative;
    flex-shrink: 0;
    right: -67px;

    &-bg {
      position: absolute;
      inset: 0;
      background: url("../images/sprites/svg/g-4 .svg") no-repeat;
      background-position: 25px 38px;
      z-index: -1;
    }

    .hero-a__img {
      max-width: 100%;
      height: auto;
    }
  }
}

} /*g-4 */



.g-5{
    padding-top: 90px;

    &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      flex-direction: column;




      .dev-map {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__row {
              display: flex;
              justify-content: space-between;
              gap: 20px;
              width: 100%;
              max-width: 1200px;
            }

            &__block {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex: 1;
              padding: 30px;
              background: #fff;
              border-radius: 20px;
              gap: 4px;
            }

            &__icon {
              width: 80px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 30px;
              &--puzz{
                margin-bottom: 43px;
                width: 66px;
                height: 66px;
              }
            }

            &__text {
              p{
                font-family: $Faber;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $heading;

              }
            }
}
    .section-demo{
      text-align: center;
      margin-bottom: 30px;
      &__text{
        p{
          font-family: Faber Sans Pro;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;
          color: #6d698c;
          margin-bottom: 23px;
        }
      }
      &__button{
        button{
           background: #ef584e;
            color: #fff;
            padding: 13px 38px;
            border: none;
            border-radius: 15px 50px 15px 50px;
            height: 55px;
            width: 272px;
            cursor: pointer;
            span {
              display: inline-block;
            }
            &:hover {
              background: #ffcf3c;;
            }
        }
      }
    }
    }
    &__heading{
      h1{
        font-family: $Directo;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: center;

      }
      p{
      font-family: $Faber;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #6d698c;

    }
    }
    
}












	&__picture {
		display: block;
		margin: 0 auto 40px;
		max-width: 500px;
		opacity: 0;
		transition: $duration-normal;

		&[data-loaded="true"] {
			opacity: 1;
		}

		&--2 {
			margin-top: 40px;
			margin-bottom: 0;
		}
	}

	&__text {
		margin: 0 auto;
		max-width: 500px;
		font-size: 20px;
		line-height: 26px;

		a {
			text-decoration: underline;

			@include helpers.hover {
				text-decoration: none;
			}
		}

		code {
			padding: 5px;
			background-color: $color-gray;
		}
	}

/*	@include breakpoint.desktop {
		padding: 65px 0;
	}*/

}
