main.home
  .container
    section.hero
      .hero__content
        h1.hero__title KidsBe - продуктивный подход к обучению детей <br> от 3 до 7 лет
        p.hero__description Книга + мобильное приложение + онлайн-школа <br> работают как единая система для развития речи,<br> ума и навыков общения
        .hero__form
          .hero__form-field
            input.hero__input(type="tel", placeholder="+7") 
            button.hero__icon.hero__icon--icon-p
              +svg("icon-p")
            button.hero__button.hero__button--demo
              span Получить демо-доступ


         
      .hero__image
        .background
        img.hero__img(src="images/kids.png" alt="Дети с книгой KidsBe")

    // Блок features
    section.features
      .features__list
        .features__item
          .features__icon
              +svg("f-house")
          p.features__text Домашняя альтернатива <br> детским центрам
        .features__item
          .features__icon
            +svg("f-wand")
          p.features__text Простое применение
        .features__item
          .features__icon
            +svg("f-calendar")
          p.features__text 33 занятия за 2 месяца
        .features__item
          .features__icon
            +svg("f-video")
          p.features__text Результат с первого урока

  
  section.g-2
    .container
      .g-2
        h2.g-2__title Откройте ребенку радость увлекательного <br>  развития без скуки и стресса
        

        .g-2__content
          .g-2__left
            .g-2__images
              .g-2__images--bg
                +svg("g-2y").g-2y
                +svg("g-2-g").g-2-g
              img.g-2__img(src="images/g-2-1.png", alt="Tablet App")
            .g-2__info
              .g-2__info-block
                p Комплект включает печатные материалы, мобильное приложение и доступ к онлайн-школе — занятия проходят сразу в нескольких форматах
              .g-2__info-block
                p Программа состоит из 33 уроков и рассчитана в среднем на 2 месяца, однако скорость прохождения у разных детей отличается



          .g-2__right
            p.g-2__description Практическое пособие <b> KidsBe </b> создано<br>  для домашнего обучения детей чтению, письму, мышлению и другим навыкам
             .g-2__text
               .g-2__text-block
                 p Методика разработана специалистами по детскому развитию, поэтому эффективна и безопасна
               .g-2__text-block
                 p Задания продуманы таким образом, чтобы принести ребенку максимум пользы и удовольствия
             p.g-2__footer-text Вы получите материалы с подробными инструкциями — <br> просто следуйте рекомендациям, и все пройдет отлично



  section.g-3
    .container
      .g-3
        .g-3__heading
          h1 Занимайтесь с удовольствием и достигайте новых вершин следующие 2 месяца и всю жизнь 
          p <b>KidsBe</b> — это комплексная программа, помогающая получить положительные <br> результаты сразу в нескольких сферах

        .g-3__image-text
          .row
            .block
              +svg("g-3-m")
              p Равномерное развитие обоих полушарий<br>  мозга и межполушарных связей
            .block
              +svg("g-3-brain")
              p Укрепление памяти<br>  и внимания
            .block
              +svg("g-3-b")
              p Развитие мышления<br>  и познавательного интереса
          .row
            .block
              +svg("g-3-orig")
              p Раскрытие творческих<br>  способностей
            .block
              +svg("g-3-mom")
              p  Налаживание эмоциональных<br>  связей с родителями                                                                                             
            .block
              +svg("g-3-mal")
              p Повышение<br>  самостоятельности

        .g-3__bottom
          .left-block
            .column-text
              h2.bold Гармония традиционных методик <br> и новейших возможностей педагогики 
              p Практическое пособие KidsBe совмещает офлайн и онлайн-занятия. Ребенок привыкает учиться в нескольких форматах: 
            .icon-text-list
              .icon-text
                .icon
                  +svg("g-3-video")
                .text Читать и писать с помощью красивых книг, прописей, карточек
              .icon-text
                .icon
                  +svg("g-3-app")
                .text Слушать, запоминать и играть в мобильном приложении 

            p Разные варианты работы поддерживают интерес ребенка <br> к занятиям и взаимно усиливают друг друга, что помогает<br> учиться без скуки и развиваться гармонично. 

          .right-block
            .image-block
              img(src="images/kids2.png", alt="Right Image")
  section.g-4
    .container
      section.hero-a
        .hero-a__content
          h1.hero-a__title 33 занятия — и ваш ребенок на <span> новом уровне </span> знаний 
          p.hero-a__description Учитесь без скуки и стресса с <b>KidsBe</b> 
          .hero-a__form
            .hero-a__form-field
              .hero-a__form-group
                .field
                 label.field__label(for="name") Ваше имя
                 input.field__input(type="text" id="name" placeholder="Александр") 
                .field
                 label.field__label(for="phone") Ваш телефон
                 input.field__input(type="tel" id="phone" placeholder="+7")
              .hero-a__form-group
                .hero-a__privacy
                  .hero-a__privacy-icon
                    +svg("y")           
                  span.hero-a__privacy-text Нажимая на кнопку, Вы даёте согласие<br> на обработку персональных данных
                button.hero-a__button
                  span Узнать стоимость


           
        .hero-a__image
          .hero-a__image-bg
          img.hero-a__img(src="images/kid1.png" alt="Дети с книгой KidsBe")

  section.g-5
    .container
      .g-5__content
        .g-5__heading
          h1 Полный арсенал развивающих инструментов в вашем смартфоне
          p Часть заданий и полезной информации для родителей доступна<br> в мобильном приложении. Оно включает: 
        .dev-map
          .dev-map__row
            .dev-map__block
              .dev-map__icon
                +svg("table")
              .dev-map__text
                p Карты развития ФГОС — перечни умений и навыков детей в разном возрасте и бланки для личных заметок — просто введите возраст ребенка, и приложение покажет, что он уже должен уметь. 

            .dev-map__block
              .dev-map__icon--puzz
                +svg("puzz")
              .dev-map__text
                p Мультфильмы и мини-игры с элементами дополненной реальности для вовлечения в образовательный процесс. 

            .dev-map__block
              .dev-map__icon
                +svg("tv")
              .dev-map__text
                p Видеоуроки с подробными инструкциями по выполнению физических и логопедических упражнений. 

            .dev-map__block
              .dev-map__icon
                +svg("chat")
              .dev-map__text
                p Чат со специалистами для оперативной поддержки и личных консультаций

        
        .section-demo
          .section-demo__text
            p Приложение удобно и интуитивно понятно.<br> Все получится, даже если вы впервые пробуете такой формат обучения.
          .section-demo__button
            button Получить демо-доступ
       


